<template>
  <footer class="footer mt-auto pt-3 page-footer font-small blue">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase">
            Footer Content
          </h5>
        </div>

        <hr class="clearfix w-100 d-md-none pb-3">

        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">
            Links
          </h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">
                Link 1
              </a>
            </li>
            <li>
              <a href="#!">
                Link 2
              </a>
            </li>
            <li>
              <a href="#!">
                Link 3
              </a>
            </li>
            <li>
              <a href="#!">
                Link 4
              </a>
            </li>
          </ul>
        </div>

        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">
            Links
          </h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">
                Link 1
              </a>
            </li>
            <li>
              <a href="#!">
                Link 2
              </a>
            </li>
            <li>
              <a href="#!">
                Link 3
              </a>
            </li>
            <li>
              <a href="#!">
                Link 4
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-copyright text-center py-3">
      © 2018 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/">
        MDBootstrap.com
      </a>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'Footer',
};
</script>

<style lang="scss">
  .blue {
    background-color: #2196f3!important;
  }
  footer.page-footer .footer-copyright {
    overflow: hidden;
    background-color: rgba(0,0,0,.2);
    color: rgba(255,255,255,.6);
  }

  footer.page-footer a {
    color: #fff;
  }

  footer.page-footer {
    color: #fff;
  }
</style>
