<template>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <router-link class="navbar-brand" to="/">
      <img class="logo" src="https://cdn2.iconfinder.com/data/icons/real-estate-1-12/50/13-512.png" alt="">
    </router-link>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navContent"
      aria-controls="navContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon" />
    </button>


    <div id="navContent" class="collapse navbar-collapse">
      <LeftMainMenu />

      <RightNavPanel />
    </div>
  </nav>
</template>

<script>

import RightNavPanel from './navbar/RightNavPanel';
import LeftMainMenu from './navbar/LeftMainMenu';

export default {
  name: 'Header',
  components: {
    RightNavPanel,
    LeftMainMenu,
  },
};
</script>
