<template>
  <main role="main" class="root-container flex-shrink-0 position-relative">
    <div class="container-fluid py-2 px-4">
      <div class="row">
        <div class="col-md-9 main-content">
          <router-view />
        </div>
        <div class="col-md-3 sidebar-content">
          <LastTransactions />
        </div>
      </div>
    </div>
    <div v-if="loading" class="spinner">
      <div class="spinner-border" role="status">
        <span class="sr-only">
          Loading...
        </span>
      </div>
    </div>
  </main>
</template>

<script>
  import LastTransactions from '@/components/LastTransactions';

export default {
  name: 'Main',
  components: {
    LastTransactions,
  },
  created() {
    if (this.isLogged && !this.$store.state.customers.customer.email) {
      this.$store.dispatch('customers/fetchUser');
    }
  },
  computed: {
    isLogged () {
      return this.$store.getters['customers/isAuthenticated'];
    },
    loading() {
      return this.$store.state.loading;
    },
  },
};
</script>

<style lang="scss">
</style>
