<template>
  <fragment>
    <Header />
    <Main />
    <Footer />
  </fragment>
</template>

<script>
import Header from './Header';
import Main from './Main';
import Footer from './Footer';

export default {
  name: 'Template',
  components: {
    Header,
    Main,
    Footer,
  },
};
</script>

<style lang="scss">
  html, body {
    min-height: 100%;
  }
</style>
