<template>
  <div>
    <h1>{{ $t('pages.confirm-page.title') }}</h1>
    <p>{{ orderDetails.crypt }}</p>
    <p>{{ orderDetails.money }}</p>
    <p>{{ orderDetails.email }}</p>
    <p>{{ orderDetails.phone }}</p>
    <p>{{ orderDetails.wallet }}</p>
  </div>
</template>

<script>
  export default {
    name: 'ConfirmOrderPage',
    computed: {
      orderDetails() {
        console.log(this.$store.state.transactions.lastTransaction);
        return this.$store.state.transactions.lastTransaction;
      },
    }
  };
</script>

<style scoped>

</style>
