<template>
  <div>
    <div class="alert alert-warning" role="alert" v-show="showNotification">
      This is some text for home Page
    </div>
    <CurrenciesList />
  </div>
</template>

<script>
import CurrenciesList from '../components/CurrenciesList';

export default {
  name: 'HomePage',
  components: {
    CurrenciesList,
  },
  data() {
    return {
      showNotification: true,
    }
  },
};
</script>

<style scoped>

</style>
