<template>
  <div>
    <h1>{{ $t('last-orders.last-purchases') }}</h1>
    <UserOrders />
  </div>
</template>

<script>
  import UserOrders from '@/components/UserOrders'

export default {
  name: 'MyPurchases',
  components: {
    UserOrders,
  },
};
</script>

<style scoped>

</style>
