<template>
  <fragment>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link :to="'/'">
            {{ $t('menu.home') }}
          </router-link>
        </li>
        <li class="breadcrumb-item">
          {{ $t('buy') }}
        </li>
      </ol>
    </nav>
    <div v-if="!loading" class="row">
      <div class="col-12 col-md-5 pb-5">
        <OrderCalculateForm v-on:calcChange="passParamsToDetailsForm" />
      </div>

      <div class="col-12 offset-md-2 col-md-5">
        <OrderDetailsForm :money="money" :amount="amount" />
      </div>
    </div>
  </fragment>
</template>

<script>
  import OrderCalculateForm from '@/components/forms/OrderCalculateForm';
  import OrderDetailsForm from '@/components/forms/OrderDetailsForm';

  export default {
    name: 'OrderPage',
    components: { OrderCalculateForm, OrderDetailsForm },
    props: ['symbol'],
    metaInfo: {
      title: "Order Page"
    },
    data() {
      return {
        money: '',
        amount: '',
      }
    },
    computed: {
      loading () {
        return this.$store.state.loading;
      },
      isLogged () {
        return this.$store.getters['customers/isAuthenticated'];
      }
    },
    methods: {
      passParamsToDetailsForm(money, amount) {
        this.money = money;
        this.amount = amount;
      },
    },
    created () {
      const { currencies, customers } = this.$store.state;

      if (this.isLogged && !customers.customer.email) {
        this.$store.dispatch('customers/fetchUser');
      }

      if (!currencies.currentCurrency || currencies.currentCurrency.symbol !== this.symbol) {
        this.$store.dispatch('currencies/fetchCurrentCurrency', this.symbol);
      }
    },
  };
</script>
