<template>
  <div id="userSettings" class="user-settings">
    <h1>{{ $t('settings') }}</h1>
    <ul>
      <li>{{ $t('email') }} : {{ customer.email }}</li>
      <li>{{ $t('phone') }} : {{ customer.phone }}</li>
    </ul>
  </div>
</template>

<script>
  export default {
    name: 'UserSettingsPage',
    computed: {
      isLogged () {
        return this.$store.getters['customers/isAuthenticated'];
      },
      customer () {
        return this.$store.state.customers.customer;
      },
    },
    created () {
      if (this.isLogged && !this.$store.state.customers.customer.email) {
        this.$store.dispatch('customers/fetchUser');
      }
    }
  };
</script>

<style scoped>

</style>
