<template>
  <div v-if="currency.enabled" class="card col-sm-6 col-md-6 col-lg-4 col-xl-3">
    <div class="card-body text-center">
      <i :class="currency.symbol" class="cc" :title="currency.symbol"></i>
      <h5 class="card-title">
        {{ currency.title }}
      </h5>

      <p class="card-text">
        1{{ currency.symbol + ' = ' + currency.salesPrice + $t('hrn.full') }}
      </p>
      <p class="card-text">
        ({{ currency.changes }}%)
      </p>
      <a class="btn btn-primary" :href="link" @click.prevent="buyAction">
        {{ $t('buy') }}
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Currency',
  props: {
    currency: {
      type: Object,
    },
  },
  computed: {
    link () {
      return `/buy-crypt/${this.currency.symbol}`;
    }
  },
  methods: {
    buyAction() {
      this.$store.commit('currencies/setCurrentCurrency', this.currency);
      this.$router.push(this.link);
    },
  },
};
</script>

<style scoped>
  .cc {
    font-size:48px;
  }
  .card-title {
    height: 48px;
  }
</style>
