<template>
  <div v-if="!loading">
    <div class="currency-filter-box">
      <div class="form-group">
        <input type="text" class="form-control" v-model="filterString"  :placeholder="$t('search')">
      </div>
    </div>
    <div class="currency-list row">
      <Currency
        v-for="currency in filtredCurrencies"
        :key="currency._id"
        :currency="currency"
      />

      <div class="card col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <div class="card-body text-center">
          <div class="card-placeholder">?</div>
          <h5 class="card-title">
            {{ $t('main.currency-list.did-not-find') }}
          </h5>
          <div class="feedback-btn">
            <a href="#" class="btn btn-primary" @click.prevent>
              {{ $t('main.currency-list.write-us') }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Currency from './Currency';

export default {
  name: 'CurrenciesList',
  components: {
    Currency,
  },
  data() {
    return {
      filterString: '',
    };
  },
  computed: {
    loading() {
      return this.$store.state.loading;
    },
    filtredCurrencies() {
      return this.$store.state.currencies.currencyList.filter(
        currency => ~currency.title.toLowerCase().indexOf(this.filterString.toLowerCase())
      );
    },
  },
  created() {
    this.$store.dispatch('currencies/fetchCurrencyList');
  },
};
</script>

<style scoped>
  .card-placeholder {
    font-size:48px;
    line-height:72px;
  }

  .feedback-btn {
    width:100%;
    position:absolute;
    bottom: 20px;
    margin-left:-35px;

  }
</style>
