<template>
  <div>
    <h1>{{ $t('last-orders.last-purchases') }}</h1>
    <ul>
      <li
        v-for="transaction in transactions"
        :key="transaction.id"
      >
        {{ $t('last-orders.transaction-string', [transaction.amount, transaction.toCurrency, transaction.totalPrice, transaction.fromCurrency]) }} <timeago :datetime="transaction.createdAt * 1000"></timeago>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'LastOrders',
  computed: {
    transactions() {
      return this.$store.state.transactions.transactions;
    },
  },
  created() {
    this.$store.dispatch('transactions/getTransactions')
  }
};
</script>

<style scoped>
  ul {
    list-style-type: none;
  }
</style>
