<template>
  <ul>
    <li
      v-for="transaction in transactions"
      :key="transaction.id"
    >
      {{ $t('last-orders.transaction-string', [transaction.amount, transaction.toCurrency, transaction.totalPrice, transaction.fromCurrency]) }} <timeago :datetime="transaction.createdAt * 1000"></timeago>
    </li>
  </ul>
</template>

<script>
  export default {
    name: 'UserOrders',
    computed: {
      orders() {
        return this.$store.state.customers.orders;
      },
    },
    created() {
      this.$store.dispatch('customers/getOrders')
    }
  };
</script>

<style scoped>

</style>
