<template>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link" href="#" data-toggle="dropdown">
        {{ $t('sign-in') }}
      </a>
      <div class="dropdown-menu popup-form">
        <SignInForm />
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" href="#" data-toggle="dropdown">
        {{ $t('sign-up') }}
      </a>
      <div class="dropdown-menu popup-form">
        <SignUpForm />
      </div>
    </li>
  </ul>
</template>

<script>
    import SignInForm from '../../components/forms/SignInForm';
    import SignUpForm from '../../components/forms/SignUpForm';

    export default {
      name: 'AuthNavPanel',
      components: {
        SignInForm,
        SignUpForm,
      },
    }
</script>
