<template>
  <ul class="navbar-nav mr-auto">
    <router-link
      v-for="menuItem in mainMenu"
      :key="menuItem.name"
      tag="li"
      class="nav-item"
      :to="menuItem.path"
      exact
      exact-active-class="active"
    >
      <a class="nav-link">
        {{ $t(menuItem.title) }}
      </a>
    </router-link>
  </ul>
</template>

<script>
import mainMenu from '../../routes/mainMenu.js';

export default {
  name: 'LeftMainManu',
  data() {
    return {
      mainMenu,
    };
  },
};
</script>
