<template>
  <ul v-if="isLogged" class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle" href="#" id="userSettingsDropdown" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ userEmail }}
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userSettingsDropdown">
        <router-link class="dropdown-item" to="/my-purchases">
          {{ $t('menu.user.purchases') }}
        </router-link>
        <router-link class="dropdown-item" to="/my-settings">
          {{ $t('menu.user.settings') }}
        </router-link>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" @click.prevent="logoutAction">
          {{ $t('sign-off') }}
        </a>
      </div>
    </li>
  </ul>

  <AuthNavPanel v-else />
</template>

<script>
  import AuthNavPanel from '@/template/navbar/AuthNavPanel';

  export default {
    name: 'RightNavPanel',
    components: {
      AuthNavPanel,
    },
    computed: {
      userEmail () {
        return this.$store.state.customers.customer.email;
      },
      isLogged () {
        return this.$store.getters['customers/isAuthenticated'];
      }
    },
    methods: {
      logoutAction () {
        this.$store.dispatch('customers/logout');
      }
    },
  }
</script>
