<template>
  <Template />
</template>

<script>
import Template from './template/Template';

export default {
  name: 'App',
  metaInfo: {
    title: "Main Page"
  },
  components: {
    Template,
  },
};
</script>
