
html {
    height: 100%;
}

body {
    min-height: 100%;
}

.spinner .spinner-border {
    width:6rem;
    height:6rem;
    left:50%;
    top:50%;
    margin-left: -3rem;
    margin-top: -3rem;
    position:absolute;
}

.spinner {
    background:#999;
    top:76px;
    bottom:0px;
    left:0;
    right:0;
    opacity:0.5;
    position:absolute;
}

.root-container {
    padding: 76px 15px 0;
    min-height: calc(100vh - 216px);
}

.logo {
    max-width:50px;
}

.popup-form {
    width: 200px;
    left: auto;
    right: 0;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
