<template>
  <fragment>
    <h5>{{ $t('order-page.buy-title', [currency.title, $t('hrn.short')]) }}</h5>
    <div class="form-inline calc-input">
      <input
        id="crypt" v-model.number="crypt" type="number"
        class="form-control" aria-describedby="cryptDesc"
        :min="currency.minValue" :max="currency.maxValue" :step="step"
        :placeholder="$t('receive')" @change="calculateMoney"
      />
      <label for="crypt">
        <i :class="currency.symbol" class="cc" :title="currency.symbol"></i>
      </label>
      <small id="cryptDesc" class="form-text text-muted">
        {{ buyString }}
      </small>
    </div>
    <div class="form-inline calc-input">
      <input
        id="money" v-model.number="money" type="number" class="form-control"
        :placeholder="$t('pay')" @change="calculateCrypt"
      />
      <label for="money">
        {{ $t('hrn.short').toUpperCase() }}
      </label>
    </div>
  </fragment>
</template>

<script>
  export default {
    name: 'OrderCalculateForm',
    data() {
      return {
        money: '',
        crypt: this.$store.state.currencies.currentCurrency.minLimit,
      };
    },
    computed: {
      currency () {
        return this.$store.state.currencies.currentCurrency;
      },
      step () {
        const minLimit = this.$store.state.currencies.currentCurrency.minLimit;
        const steps  = [1,0.1,0.01,0.001];
        for(let i=0; i<steps.length; i++) {
          if(minLimit >= steps[i]) { return steps[i] };
        }

        return steps[steps.length - 1];
      },
      buyString () {
        return this.$t('from') + ' ' + this.currency.minLimit + ' ' +
          this.$t('to').toLowerCase() + ' ' + this.currency.maxLimit + ' ' + this.currency.symbol + '. ' +
          ' 1' + this.currency.symbol + ' = ' + this.currency.salesPrice + this.$t('hrn.short');
      }
    },
    created() {
      this.calculateMoney();
    },
    methods: {
      valueChanged () {
        if(this.currency.minLimit > this.crypt) {
          this.crypt = this.currency.minLimit;
          return true;
        }
        if(this.currency.maxLimit < this.crypt) {
          this.crypt = this.currency.maxLimit;
          return true;
        }

        return false;
      },
      calculateCrypt() {
        const roundTo = 100000000;
        this.crypt = Math.ceil(this.money / this.currency.salesPrice * roundTo) / roundTo;
        this.valueChanged() && this.calculateMoney();
        this.$emit('calcChange', this.money, this.crypt);
      },
      calculateMoney() {
        const roundTo = 100;
        this.valueChanged();
        this.money = Math.ceil(this.currency.salesPrice * this.crypt * roundTo) / roundTo;
        this.$emit('calcChange', this.money, this.crypt);
      },
    },
  };
</script>

<style scoped>
  .calc-input input {
    width: 85%;
  }

  .cc {
    font-size:32px;
    line-height:32px;
  }

  .calc-input label {
    text-align:right;
    width: 15%;
  }
</style>
