<template>
  <fragment>
    <div class="order-card">
      <div class="order-card-title">
        <h5>{{ $t('order') }}</h5>
        <span v-show="!isLogged" class="position-relative">
          {{ $t('order-page.order-detail-form.have-an-account') }}
          <a href="#" @click.prevent="showSignInForm">{{ $t('sign-in') }}</a>
          <div id="detailOrderSignIn" v-show="showSignInFormToggle" class="dropdown-menu popup-form">
            <SignInForm />
          </div>

        </span>
        <form @submit.prevent="sendOrder">
          <div class="form-group has-error">
            <input
              v-model="customer" type="email"
              class="form-control" name="customer"
              :placeholder="emailPlaceholder" required
            />
          </div>
          <div class="form-group">
            <input
              v-model="phone" type="phone"
              class="form-control" name="phone"
              :placeholder="phonePlaceholder"
            />
          </div>
          <div class="form-group has-error">
            <input
              v-model="toWallet" type="text"
              class="form-control" name="wallet"
              :placeholder="walletPlaceholder" required
            />
          </div>
          <div class="form-group">
            <div>
              <p>{{ $t('buy') }}: {{ amount ? amount : 0 }} {{ currency.symbol }}</p>
              <p>{{ $t('order-page.total-for-payment') }}: {{ money ? money : 0 }} {{ $t('hrn.short') }}</p>
            </div>

            <div class="row">
              <div class="col-6" v-show="!isLogged">
                <div class="form-check float-left">
                  <input id="createAccount" v-model="createAccount" class="form-check-input" type="checkbox" value="">
                  <label class="form-check-label" for="createAccount">
                    {{ $t('order-page.order-detail-form.create-an-account') }}
                  </label>
                </div>
              </div>
              <div :class="isLogged ? 'col-12' :  'col-6'">
                <button class="btn btn-primary d-table ml-auto" type="submit">
                  {{ $t('checkout') }}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </fragment>
</template>

<script>
  import SignInForm from '@/components/forms/SignInForm';

  export default {
    name: 'OrderDetailsForm',
    components: {
      SignInForm,
    },
    props: [
      'money',
      'amount',
    ],
    data() {
      return {
        showSignInFormToggle: false,
        createAccount: false,

        customer: this.$store.state.customers.customer.email,
        phone: this.$store.state.customers.customer.phone,
        toWallet: '',

        errors: {
          email: false,
          wallet: false,
        },

        //placeholders
        emailPlaceholder: `${this.$t('email')} (${this.$t('required')})`,
        phonePlaceholder: this.$t('phone'),
        walletPlaceholder: `${this.$t('wallet-number')} (${this.$t('required')})`,
      };
    },
    computed: {
      currency () {
        return this.$store.state.currencies.currentCurrency;
      },
      isLogged () {
        return this.$store.getters['customers/isAuthenticated'];
      },
      customerData () {
        return this.$store.state.customers.customer;
      }
    },
    watch: {
      customerData () {
        console.log(this.isLogged);
        if(this.isLogged) {
          this.customer = (this.customer && this.customer.length) ? this.customer : this.$store.state.customers.customer.email;
          this.phone = (this.phone && this.phone.length) ? this.phone : this.$store.state.customers.customer.phone;
        }
      }
    },
    methods: {
      showSignInForm () {
        this.showSignInFormToggle = !this.showSignInFormToggle;
      },
      createOrder () {
        const { amount, money, customer, phone, toWallet } = this;

        const toCurrency = this.currency.symbol;
        const fromCurrency = 'UAH';

        this.$store.dispatch('transactions/addTransaction', {
          fromCurrency,
          toCurrency,
          toWallet,
          amount,
          money,
          customer,
          phone,
        }).then((response) => {
          //this.$router.push({ name: 'confirmOrderPage' });
          this.$store.commit('setLoading', false);
        });
      },
      sendOrder () {
        const { customer, phone, toWallet } = this;

        if (customer && toWallet) {
          this.$store.commit('setLoading', true);

          if(this.createAccount) {
            this.$store.dispatch('customers/registration', {
              email: customer,
              phone,
            }).then(() => {
              this.createOrder();
            });
          } else {
            this.createOrder();
          }

        }
      },
    }
  };
</script>

<style scoped>
  .order-card {
    border:1px solid #999;
    border-radius: 5px;
    padding:15px;
  }

  .dropdown-menu {
    display: block;
  }

</style>
