<template>
  <form class="text-center" @submit.prevent="signInAction">
    <input
      v-model="email" class="form-control mb-2" name="email" type="email"
      :placeholder="$t('email')" :aria-label="$t('email')"
    >
    <input
      v-model="password" class="form-control mb-2" name="password" type="password"
      :placeholder="$t('password')" :aria-label="$t('password')"
    >
    <button class="btn btn-primary" type="submit">
      {{ $t('sign-in') }}
    </button>
  </form>
</template>

<script>
  export default {
    name: 'SignInForm',
    data() {
      return {
        email: '',
        password: '',
      }
    },
    methods: {
      signInAction () {
        this.$store.dispatch('customers/authorization', {
          email: this.email,
          password: this.password,
        });
      },
    }
  }
</script>
