<template>
  <form class="text-center" @submit.prevent="signUpAction">
    <input
      v-model="email" class="form-control mb-2" name="email" type="email"
      :placeholder="$t('email')" :aria-label="$t('email')"
    >
    <input
      v-model="phone" class="form-control mb-2" name="phone" type="phone"
      :placeholder="$t('phone')" :aria-label="$t('phone')"
    >
    <input
      v-model="password" class="form-control mb-2" name="password" type="password"
      :placeholder="$t('password')" :aria-label="$t('password')"
    >
    <input
      v-model="passwordRepeat" class="form-control mb-2" name="passwordRepeat" type="password"
      :placeholder="$t('password-re')" :aria-label="$t('password-re')"
    >
    <button class="btn btn-primary" type="submit">
      {{ $t('sign-up') }}
    </button>
  </form>
</template>

<script>
  export default {
    name: 'SignUpForm',
    data() {
      return {
        email: '',
        phone: '',
        password: '',
        passwordRepeat: '',
      }
    },
    methods: {
      signUpAction () {
        this.$store.dispatch('customers/registration', {
          email: this.email,
          phone: this.phone,
          password: this.password,
        });
      }
    }
  }
</script>
